@charset "UTF-8";
/* Basic styles*/
body,
ul,
li {
  margin: 0;
  padding: 0;
}

h2,
h3,
h4,
h5,
h6,
* {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

@media only screen and (max-width: 481px) {
  /* Basic styles*/
  h1 {
    font-size: 20vw;
    line-height: 18vw;
  }
  h2 {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 36px;
    font-size: 36px;
    color: #000000;
  }
  h3 {
    font-size: 28px;
  }
  .p_size_big {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    line-height: 32px;
    font-size: 24px;
    color: #000000;
    margin-bottom: 6px;
  }
  .p_size_small {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    font-size: 16px;
    color: #000000;
    margin-top: 6px;
  }
  .decoration-img {
    display: block;
    width: 122px;
    height: 122px;
    position: absolute;
    z-index: -1;
    left: -34px;
  }
  /* top-bar */
  .top-bar {
    position: fixed;
    width: 100%;
    z-index: 100;
  }
  .top-bar .enroll {
    position: absolute;
    float: left;
    background: #FFF500;
    -webkit-box-shadow: inset 0px -3px 0px #F2C94C;
            box-shadow: inset 0px -3px 0px #F2C94C;
    border-radius: 3px;
    border: none;
    padding: 4px 8px 4px 8px;
    margin: 16px;
    cursor: pointer;
  }
  .top-bar .enroll span {
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    font-size: 16px;
    color: #000000;
  }
  .top-bar__nav {
    cursor: pointer;
    padding: 16px;
  }
  .top-bar__nav .icon {
    background-image: url(./img/menu.svg);
    width: 34px;
    height: 18px;
  }
  .top-bar__nav span {
    font-size: 12px;
  }
  .top-bar__nav li {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    display: block;
    font-style: normal;
    font-weight: bold;
    line-height: 30px;
    font-size: 32px;
    color: #000000;
    margin-bottom: 20px;
  }
  .top-bar__nav ul {
    position: relative;
    top: 56px;
    display: none;
    height: 100vh;
  }
  .open {
    background-color: aqua;
  }
  .top-bar__button {
    float: right;
  }
  .top-bar__nav.open .ul {
    display: block;
  }
  /* title-screen */
  .title-screen {
    height: 100vh;
  }
  /* screen: annotation */
  .annotation .title {
    height: 100px;
  }
  .annotation h2 {
    position: relative;
    top: -100px;
  }
  .annotation .annotation__oval {
    background-image: url(./img/Ellipse.svg);
    width: 122px;
    height: 122px;
    overflow: hidden;
    position: relative;
    left: -60px;
    z-index: 0;
  }
  /* about-me */
  .about-me .about-me__img {
    background-image: url(./img/photo.jpg);
    background-size: cover;
    height: 70vh;
    margin-left: -16px;
    margin-right: -16px;
  }
  .about-me span {
    font-size: 20px;
    padding: 0 15% 0 15%;
    display: block;
    font-weight: 300;
  }
  .about-me .first-quote {
    background: url(./img/“”.svg);
    width: 100px;
    height: 75px;
    position: relative;
    top: 32px;
    z-index: -1;
  }
  .about-me .last-quote {
    background: url(./img/“”2.svg);
    width: 100px;
    height: 75px;
    float: right;
    position: relative;
    bottom: 32px;
    z-index: -1;
  }
  /* Course program */
  .course-program .img {
    background-image: url(./img/factoid.jpg);
    width: 304px;
    height: 108px;
    margin-left: -16px;
  }
  /* Day makeup*/
  /* Night makeup*/
  .night-makeup {
    background-color: #090070;
    padding-top: 60px;
  }
  .night-makeup .twelve {
    z-index: 1;
  }
  .night-makeup h2 {
    color: #D0F1FF;
  }
  .night-makeup h3 {
    color: white;
  }
  .night-makeup p {
    color: white;
  }
  .night-makeup .decoration-img {
    padding-top: 30px;
    z-index: 0;
  }
}
/*# sourceMappingURL=main.css.map */